<div class="row mt-5"></div>
        <div class="col-md-6 m-auto">
            <div class="card card-body">
                <div id="btn"></div>
                <button type="button" class="lead mt-4">Login</button>
                <a href="/register">
                <button type="button" class="lead mt-4">Register</button>
                </a>
            </div>
        <form id="login" class="form-group">
            <div>
            <input type="email" class="form-control" placeholder="Email" required>
        </div>
        <div>
            <input type="password" class="form-control" placeholder="Enter Password" required>
        </div>
            <input type="checkbox">
            <button type="checkbox" class="fa-sign-in-alt">Remember me</button>
        <div>
            <button type="submit" class="btn btn-primary btn-block">Login</button> 
        </div>
        </form>  
    </div>
</div>